<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Register</title>
</head>
<body>

<div class="container">
    <form id="request" class="main_form" action="users/register" method="POST">
        <h2>Register</h2>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Register</button>
    </form>
</div>

</body>
</html>

<style>
    body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
</style> -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Alkan Academy</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sign Up Start -->
        <div class="container-fluid">
            <form id="request" class="main_form" action="users/register" method="POST">

            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <a href="index.html" class="">
                                <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>OKa</h3>
                            </a>
                            <h3>Qeydiyyat</h3>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control"  placeholder="jhondoe" name="username">
                            <label for="floatingText">İstifadəçi adı</label>
                        </div>
                        <div class="col-md-12">
                            <div style="display: none;" class="alert alert-danger" id="username"></div>
                         </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" placeholder="name@example.com" name="email">
                            <label for="floatingInput">Email ünvanı</label>
                        </div>
                        <div class="col-md-12">
                            <div style="display: none;" class="alert alert-danger" id="email"></div>
                         </div>
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control"  placeholder="Password" name="password">
                            <label for="floatingPassword">Şifrə</label>
                        </div>
                        <div class="col-md-12">
                            <div style="display: none;" class="alert alert-danger" id="password"></div>
                         </div>
                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Qeyd ol</button>
                        <p class="text-center mb-0">Hesabınız var? <a href="/login">Daxil ol</a></p>
                    </div>
                </div>
            </div>
        
    
            </form>
            
        </div>
        <!-- Sign Up End -->
    </div>
    <script>
        const form = document.querySelector('form')
        const emailError = document.querySelector('#email')
        const passwordError = document.querySelector('#password')
        const usernameError = document.querySelector('#username')

        form.addEventListener("submit", async (e) => {
           e.preventDefault();

           emailError.textContent = "";
           passwordError.textContent = "";
           usernameError.textContent = "";
           emailError.style.display = "none"
           passwordError.style.display = "none"
           usernameError.style.display = "none"

           const email = form.email.value
           const password = form.password.value
           const username = form.username.value

           try {
              const res = await fetch('users/register', {
                 method: "POST",
                 body: JSON.stringify({ email, password, username }),
                 headers: { "Content-Type": "application/json" }
              })

              const data = await res.json();

              if (data && Object.getOwnPropertyNames(data).length !== 0) {

                 if (data.email) {
                    emailError.textContent = data.email
                    emailError.style.display = "block"
                 }

                 if (data.password) {
                    passwordError.textContent = data.password
                    passwordError.style.display = "block"
                 }

                 if (data.username) {
                    usernameError.textContent = data.username
                    usernameError.style.display = "block"
                 }


              } else {
                 location.assign("/login")
              }

           } catch (err) {
              console.log("ERR::", err)
           }
        })
     </script>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    
    <!-- Template Javascript -->
    <script src="js/main.js"></script>

</body>

</html>

